<app-template-full-width [title]="myTitle" *ngIf="collection">
    <!-- <button (click)="changeTitle();">change title</button> -->
    <app-btn [label]="myLabel">
        <ng-content></ng-content>
    </app-btn>
    <app-table-light [headers]="headers" [collection]="collection">
        <tr id="eee" *ngFor="let item of collection">

            <td>{{item.firstName}}</td>

            <td>{{item.lastName}}</td>

            <td>{{item.mail}}</td>

            <td>{{item.phone}}</td>
            <td>{{item.company}}</td>

            <td [appTrueFalseState]="item.active">
                <select (change)="changeActive(item, $event)">
                    <option *ngFor="let isTrueOrFalse of optionsTrueFalse" [value]="isTrueOrFalse"
                        [selected]="item.active === isTrueOrFalse">{{isTrueOrFalse}}
                    </option>
                </select>
            </td>
        </tr>
    </app-table-light>
    <app-btn-add></app-btn-add>
</app-template-full-width>