<div id="messages">




  <button ngClass="closeChatButton" (click)="displayMessage()" *ngIf="expanded">

    general : close
    <app-icon-close></app-icon-close>

  </button>
  <cdk-accordion class="example-accordion" *ngIf="expanded" id="messagesbox" ngClass="inboxContainer">

    <cdk-accordion-item>



      <div>
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" (keydown)="onKeydownEnter($event)">

          <div ngClass="messageContainer">

            <textarea formControlName="message" id="message" name="message" rows="2" cols="40">
            </textarea>
            <button class="buttonSubmit" type="submit">envoyer</button>

          </div>

        </form>
        <div id="scroll-to-bottom"></div>
      </div>

    </cdk-accordion-item>
    <cdk-accordion-item *ngFor="let item of messagesFromGeneralChat; let index = index;"
      #accordionItem="cdkAccordionItem" class="example-accordion-item" tabindex="0"
      [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="expanded"
      [attr.aria-controls]="'accordion-body-' + index">


      <div class="example-accordion-item-body" role="region" [style.display]="expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index" [attr.aria-labelledby]="'accordion-header-' + index">
        <div ngClass="messageContainer">

          <img ngClass="picture" src={{item.user.avatar}} alt={{item.user.username}} />
          <p style="padding: 10px;"> from {{item.user.username}} </p>

          <p style="padding: 10px;"> at {{item.date}} </p>
          <div>


          </div>
        </div>
        <p style="padding: 10px;"> {{ item.text}}</p>

      </div>
    </cdk-accordion-item>


  </cdk-accordion>

</div>
<div *ngIf="!expanded">
  <div *ngIf="lastMessage?.user?.username === null">
    <cdk-accordion class="example-accordion" ngClass="inboxContainerNotOpen">
      <cdk-accordion-item #accordionItem="cdkAccordionItem" class="example-accordion-item" role="button" tabindex="0"
        [attr.id]="'accordion-header-' " [attr.aria-expanded]="expanded" [attr.aria-controls]="'accordion-body-' ">
        <div class="example-accordion-item-header" (click)="displayMessage()">

          chat general

          <span class="example-accordion-item-description">
            Click to {{ expanded ? 'close' : 'open' }}
          </span>
        </div>

      </cdk-accordion-item>
    </cdk-accordion>
  </div>
</div>

<div *ngIf="!expanded">
  <div *ngIf="lastMessage?.user?.username !== null">
    <cdk-accordion *ngIf="hasUnreadMessage" class="example-accordion" ngClass="inboxContainerNotOpen">
      <cdk-accordion-item #accordionItem="cdkAccordionItem" class="example-accordion-item" role="button" tabindex="0"
        [attr.id]="'accordion-header-' " [attr.aria-expanded]="expanded" [attr.aria-controls]="'accordion-body-' ">
        <div class="example-accordion-item-header-has-unread-messages" (click)="displayMessage()">

          {{ lastMessage?.user?.username }} {{ lastMessage?.text }}


          <span class="example-accordion-item-description">
            Click to {{ expanded ? 'close' : 'open' }}
          </span>
        </div>

      </cdk-accordion-item>
    </cdk-accordion>

    <cdk-accordion *ngIf="!hasUnreadMessage" class="example-accordion" ngClass="inboxContainerNotOpen">
      <cdk-accordion-item #accordionItem="cdkAccordionItem" class="example-accordion-item" role="button" tabindex="0"
        [attr.id]="'accordion-header-' " [attr.aria-expanded]="expanded" [attr.aria-controls]="'accordion-body-' ">
        <div class="example-accordion-item-header" (click)="displayMessage()">

          {{ lastMessage?.user?.username }} {{ lastMessage?.text }}


          <span class="example-accordion-item-description">
            Click to {{ expanded ? 'close' : 'open' }}
          </span>
        </div>

      </cdk-accordion-item>
    </cdk-accordion>
  </div>
</div>