.banner {
  background: var(--app-primary);
  padding: 1rem;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;

  h1 {
    color: var(--app-light);
    font-size: 2rem;
    margin-bottom: 0;

  }
}
