<app-template-full-width [title]="myTitle" *ngIf="collection">
  <!-- <button (click)="changeTitle();">change title</button> -->
  <app-btn [label]="myLabel">
    <ng-content></ng-content>
  </app-btn>
  <app-table-light [headers]="headers" [collection]="collection">
    <tr id="eee" *ngFor="let item of collection">

      <td>{{item.customer.firstname }}</td>

      <td>{{item.type | uppercase}}</td>
      <td>{{item.label}}</td>

      <td>{{item.unitPrice | currency}}</td>

      <td>{{item.numberOfDay}}</td>

      <td>{{ item.numberOfDay|total : item.numberOfDay : item.tva }}</td>

      <td [appState]="item.status">
        <select (change)="changeStatus(item, $event)">
          <option *ngFor="let status of stateOrder" [value]="status" [selected]="item.status === status">{{status}}
          </option>
        </select>
      </td>
      <button (click)="delete(item.id)">delete</button>
      <button (click)="edit(item.id)">edit</button>

    </tr>
  </app-table-light>
  <app-btn-add></app-btn-add>
</app-template-full-width>